//
// Variables
//

//
// Bootstrap Variables Override
//

$default:                      #eaebec !default;
$primary:                      blue !default;
$secondary:                    yellow !default;

//
// npt3theme Variables
//